<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
        <h2 v-text="titulo" ></h2>
      <input type="text" v-model="name">
      <!-- v-bind css,href,img -->
      <span v-bind:title="name" >{{name}}</span>

      <!-- v-for -->
      <!-- <p v-for="number in informacion" v-text="number.total" ></p> -->
      <p v-for="(value, key) in informacion" v-text="value" ></p>

      <!-- v-if -->
      <!-- <h2 v-if="flag" v-text="name" ></h2>
      <h2 v-else >Hola mundo else</h2> -->

      <template v-if="flag">
        {{name}}
      </template>
      <template v-else>
        Hola mundo
      </template>

      <!-- v-show --hidden al alemento -- v-if los destruye -->
      <h2 v-show="flag">V-show</h2>

      <button @click="ChangeFlag" > changee </button>
      <div class="" @copy="alerta" >
        <p> copiar</p>
      </div>
    </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    const hola = {
          data() {
                return {
                      titulo:'Mi titulo Vue',
                      name : 'Josue Flores',
                      numbers:[1,2,3,4,5],
                      totales:[
                        {total:10},
                        {total:20}
                      ],
                      informacion:{
                        nombre: 'josue Flores Matute',
                        profesion: 'Licenciado'
                      },
                      flag:false
                    }
              },
              beforeCreate() {
                //do something before creating vue instance
                console.log('before');
              },
              beforeUpdate() {
                //do something before updating vue instance
                console.log('Actualizando...');
              },
              created() {
                //do something after creating vue instance
                console.log('Instancia creada');
              },
              methods: {
                ChangeFlag() {
                  this.flag = !this.flag;
                },
                alerta(){
                  alert('Copio en texto correctamente');
                }
              }
        }
    Vue.createApp(hola).mount("#app");
  </script>
  </body>
</html>
